.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  color: #E11D3F;
}

.App-header img {
  width: 200px;
  height: 200px;
}

.App-body {
  font-size: 18px;
  padding: 20px;
}

.App-footer {
  font-size: 14px;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #E11D3F;
}