#count {
    font-weight: bold;
    float: right;
  }
  
  #logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: 200px 200px;
  }