.Notifications {
  border: 1px dashed #e11d3f;
  padding: 10px;
  position: relative;
}

.Notifications li[data-priority="default"] {
  color: blue;
}

.Notifications li[data-priority="urgent"] {
  color: red;
}
